input{
    padding:7px;
    border-radius:6px;
    margin:3px;
    background-color: aliceblue;
}
label{
    font-size:1.3rem;
    font-weight:500;
}
h1{
    height:2rem  !important;
    color:white
}
span{
    padding:10px;
}
.h{
    float:left;
    margin-left:550px;
    background-color:hsla(188, 78%, 41%, 0.381)   !important;
    padding:5px;
}
.black{
    color:rgb(42,42,42);
}
#button{
    background-color:#17a2b8  !important;
    padding:10px;
    font-size: larger;
    font-weight:500;

}
.main
{
    background-color:rgb(74, 74, 74);
}